body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

.calculation-progress{
    color: white;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 20px;
}

.general-button{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    font-size: 26px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;
}

.clear-button{
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    font-size: 18px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
}

.operation-button{
    background-color:orange;
    color: white;
    border: none;
    font-size: 26px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
}